# ███████╗████████╗ █████╗ ██████╗ ███████╗██╗  ██╗██╗██████╗
# ██╔════╝╚══██╔══╝██╔══██╗██╔══██╗██╔════╝██║  ██║██║██╔══██╗
# ███████╗   ██║   ███████║██████╔╝███████╗███████║██║██████╔╝
# ╚════██║   ██║   ██╔══██║██╔══██╗╚════██║██╔══██║██║██╔═══╝
# ███████║   ██║   ██║  ██║██║  ██║███████║██║  ██║██║██║
# ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝╚═╝
# The minimal, blazing-fast, and infinitely customizable prompt
# https://starship.rs

format = """
$username\
$hostname\
$directory\
${custom.gitbranch}\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$nodejs\
$python\
$terraform\
$env_var\
$sudo\
$cmd_duration\
$line_break\
$character"""


[character]
# success_symbol = "[\uf054](white)" # 
# vicmd_symbol = "[\ue62b](white)" # 
# error_symbol = "[\uf467](red)" # 

[directory]
style = "blue bold"
truncate_to_repo = true

[package]
disabled = true

[username]
disabled = true

# [hostname]
# disabled = true

[cmd_duration]
min_time = 5_000

[gcloud]
disabled = true

[aws]
disabled = true

[docker_context]
disabled = true

[git_branch]
disabled = true
format = "on [$symbol$branch]($style) "
style = "bold yellow"

[git_commit]
# disabled = true

[git_state]
# disabled = true

[git_metrics]
added_style = 'bold green'
# only_nonzero_diffs = false
format = '(with [( $added)]($added_style) [( $deleted)]($deleted_style) )'
disabled = false

[git_status]
style = 'bold purple'
format = '([$ahead_behind]($style) )'
ahead = ' ${count}'
diverged = ' ${ahead_count}  ${behind_count}'
behind = ' ${count}'
# modified = ' '
# modified = ''
#  branch: "󰘬 "
#     hashprefix: ":"
#     ahead: " "
#     behind: " "
#     staged: " "
#     conflict: "󰕚 "
# untracked= "??"
#     stashed: " "
#     clean: "c"
#     insertions: " "
#     deletions: " "

[nodejs]
format = "via [$symbol$version](bold yellow) "

[custom.gitbranch]
when = "git rev-parse --is-inside-work-tree"
command = '~/.config/zsh/git_branch'
format = '(${output} )'

